* {
    padding: 0;
    margin: 0;
}

body {
    background-color: green;
    font-size: 18px;
    font-family: "Nata Sans", sans-serif;
    padding: 20px;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    margin-top: 30px;
    justify-content: center;
}
img {
    box-shadow: 0px 0px 25px 0px white;
    border-radius: 10px;
    width: 200px;
}
h1 {
    margin-bottom: 40px;
}
h3 {
    margin-bottom: 14px;
}

iframe {
    width: 300px;
    height: 52px;
    border-radius: 10px;
}

button {
    padding: 12px;
    border-radius: 10px;
    margin-top: 20px;
}

button a {
    text-decoration: none;
    font-size: 1.3em;
    color: black;
}

@media (maxwidth: 600px) {
    body {
        padding: 20px;
    }
}

