* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    padding: 20px;
    color: white;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

section {
    text-align: center;
    margin-bottom: 40px;
}

img {
    width: 200px;
    border-radius: 10px 50px 10px 50px;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap : 30px;
    text-align: center;
}

iframe {
    border-radius: 10px;
}
